@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-100;
  background-image: url('/emmazilla.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.card {
  @apply rounded-xl border border-slate-800 bg-slate-900 p-4;
}

.button {
  @apply rounded-md px-3 py-2 text-sm font-medium transition;
}
